@page
@model IndexModel
@{
    ViewData["Title"] = "Startseite";
}

<div class="text-center">
        <h1 class="display-4">Grasspecht</h1>
        <img src="~/pictures/gruenspecht.png" />
        <br>
        <br>
        <p>(Aktuelle Uhrzeit auf dem Server: @DateTime.Now)</p>
</div>
