@page
@model Gesetz.Pages.StartModel
@{
    ViewData["Title"] = "Start";
    Layout = "~/Pages/Shared/_LayoutAllgemein.cshtml";
}

    <div class="container" style="margin-top: 3.5rem;">

        <!-- Form-Element ist notwendig, damit der button-Klick auch am Server ankommt -->
        <form method="post">
            <!-- In diesem versteckten Feld wird sich der Schlüssel für das aktuelle Spiel gemerkt -->
            <input type="hidden" asp-for="Spielschlüssel" /> 

            <!-- Start- bzw. Teilnehmen-Button -->
            <div class="row justify-content-center">
                <!-- Diese Karte soll als Button funktionieren -->
                <button type="submit" class="card menue-button tile button-gericht"
                        id="@(Model.TeilnahmeMoeglich?null:"button-deaktiviert")"
                        disabled="@(Model.TeilnahmeMoeglich?null:"disabled")" >
                    <div class="card-body">
                        <h5 class="text-center" style="margin: 0.4rem;">@Model.AktionsText</h5>
                    </div>
                </button>
            </div>
        </form>
    </div>


